<!DOCTYPE html>
<html>
  <head>
    <%- include('../components/metadata/metadata', {title: 'nodehooks | Home'})
    %>
  </head>

  <body>
    <%- include('../components/navigation/navbar') %>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>nodehooks</h1>
          <h5>
            Node.js express server for communication <br />
            between webhooks and websockets
          </h5>

          <div class="links mt-4">
            <a
              href="https://github.com/larswaechter/nodehooks"
              class="btn btn-lg github"
              target="_blank"
            >
              <i class="fab fa-github"></i> GitHub
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
