<!DOCTYPE html>
<html>
  <head>
    <%- include('../components/metadata/metadata', {title: `nodehooks |
    How-To`}) %>
  </head>

  <body>
    <%- include('../components/navigation/navbar') %>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>How-To</h1>
          <p>Coming soon...</p>
        </div>
      </div>
    </div>
  </body>
</html>
